body {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Sansita;
}

.rc-flight-time-font {
    font-size: 16px;
}

.rc-flight-time-big-font {
    font-size: 19px;
}

a:hover, a:focus {
    text-decoration: none;
}

.rc-flight-city-font {
    font-size: 15px;
}

.rc-flight-city-big-font {
    font-size: 18px;
}


#rc-flight-search-login-margin-right {
    margin-top: 5px;
}


#rc-margin-for-logo-flight-search {
    margin-top: 16px;
    font-size: 20px;
    margin-right: 5px;
}

.rc-background-register {
    background: url('/images/pexels-photo-325703.jpeg');
    background-size: cover;
    opacity: 0.9;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-price-top-margin {
    margin-top: 10px;
}


.rc-background-hotel-search-result {
    /*background: url('/images/pexels-photo-115109.jpeg');*/
    background: url('/images/pexels-photo-242698.jpeg');
    /*background-color: #6C7A89;*/
    background-size: cover;
    opacity: 0.9;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}


.rc-background-flight-search-result {
    /*background: url('/images/pexels-photo-115109.jpeg');*/
    background: url('/images/flight-sky-clouds-fly.jpg');
    /*background-color: #6C7A89;*/
    background-size: cover;
    opacity: 0.9;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-background-flight-search {
    background: url('/images/9756566442_416cfc4f0c_k.jpg');
    background-size: cover;
    opacity: 0.8;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-background-user-history {
    background: url('/images/63494133-flight-wallpapers.jpg');
    background-size: cover;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-background-user-notification {

    background: url('/images/stock-photo-discount-price-promotion-special-cheap-concept-329739470.jpg');
    /*height: 735px;*/
    background-size: cover;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-background-agent-notification {
    /*background :url('/images/pexels-photo-296886.jpeg');*/
    background: url('/images/writing-notes-idea-conference.jpg');
    /*height: 735px;*/
    background-size: cover;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.rc-z-index-dropdown {
    z-index: 1000 !important;
}

.rc-dropdown-small-font {
    font-size: 15px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: black;
}

.rc-drop-menu {
    z-index: 1000 !important;
}

.rc-no-padding {
    padding: 0;
}

.rc-white-background {
    background-color: white;
    opacity: 0.9;
    padding-top: 2px;
    padding-bottom: 2px;
}

.rc-black-background {
    background-color: black;
    opacity: 0.8;
    padding-top: 2px;
    padding-bottom: 2px;
}

.rc-font-color-black {
    color: black;
}

.rc-flight-logo {
    font-size: 19px;
    color: #0f0f0f;
}

.wbdv-margin-top-login {
    margin-top: 50px;
}

.rc-partner-image {
    background: url("/images/54687-O81FJ1.jpg");
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
}

.rc-deal-image {
    background: url("/images/deals.jpg");
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rc-member-image {
    background: url("/images/becomeamember.jpg");
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rc-table-width {
    width:100%;
}

.rc-table-column-width {
    width: 25%;
}

.wbdv-margin-top-register {
    margin-top: 50px;
}

.rc-flight-modify-button {
    border-radius: 15px;
    font-size: 15px;
    background-color: #F9690E;
}

.rc-flight-details-button {
    border-radius: 15px;
}

.rc-flight-detail-button-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.wbdv-banner-font {
    font-size: 25px;
    color: white;
}

.rc-flight-search-journey-font {
    font-size: 18px;
    color: white;
}

.rc-flight-price-font {
    font-size: 23px;
    color: white;
}

.rc-flight-price-small-font {
    font-size: 20px;
    color: white;
}

.rc-flight-search-journey-small-font {
    font-size: 16px;
    color: white;
}

.rc-black-banner {
    font-size: 25px;
    color: black;
}

.rc-nav-agent-notification {
    background-color: black;
    opacity: 0.8;
}

.wbdv-font-color-white {
    color: white;
}

.rc-black-shade-agent-notification {
    z-index: 1;
    background-color: black;
    height:auto;
    opacity: 0.8;
    margin-bottom: 30px;
}

.wbdv-black-shade {
    z-index: 1;
    background-color: black;
    height:auto;
    opacity: 1;
    margin-bottom: 30px;
}

.wbdv-button {
    background-color: orangered;
    font-size: 1.2em;
    color: white;
}

.wbdv-margin-top {
    margin-top: 20px;
}

.wbdv-font-family {
  font-family: Sansita;
}

.wbdv-left-right-margin {
    margin-left: 10%;
    margin-right: 10%;
}

.wbdv-padding {
    padding: 10px;
}

.rc-position-fixed {
    position: fixed;
}

.wbdv-font-color-blue {
    color: royalblue;
}

.page1 {
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
}

body img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /*height: 735px;*/
    opacity: 0.7;
    background-size: cover;
}

.rc-highlight-selected {
    width: 100vw;
    background-color: darkgray;
}

.rc-user-history-list-background {
    background-color: #0f0f0f;
    opacity: 0.9;
}

.rc-admin-background {
    background-color: #0f0f0f;
    opacity: 0.8;
}


.rc-user-history-top-margin {
    margin-top: 10px;
}

.rc-link-top-margin {
    margin-top: 30px;
}

.rc-link-left-margin {
    margin-left: 20px;
}

.rc-agent-notify-font-size {
    font-size: 16px; !important;
}

.list-group-item {
    border: hidden;
}

#searchButton {
    margin-top: 5px;
}

#filterMessageButton .btn-default {
    background-color: coral;
    border-radius: 12px;
    color: white;
    font-size: 15px;
}

#clearFilterMessageButton .btn-default {
    background-color: coral;
    border-radius: 12px;
    color: white;
    font-size: 15px;
}


#sendMessageButton .form-control {
    border-radius: 12px;
    font-size: 15px;
}

#deleteMessageButton .form-control {
    border-radius: 12px;
    font-size: 15px;
}


.rc-small-top-margin {
    margin-top: 3px;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
    border-radius: 0px;
}

a {
  color: black;
}

#loginform .form-control {
    border-radius: 5px;
}

.rc-loading-image {
    background: url("/images/InternetSlowdown_Day.gif");
    margin: auto;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    opacity: 0.8;
}

.ss-button-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ss-top-margin{
    margin-top: 20px;
}

.ss-btn-highlight-off{
    outline: none !important;
    background: transparent;
}

.ss-btn-top-margin{
    margin-top: 9px;
}

.rc-delete-alert-button {
    color: red;
}

.rc-background-profile {
    background: url("/images/pexels-photo-27987.jpg");
    background-size: cover;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.ss-top-padding{
    padding-top: 0px;
}

.rc-form-font-size {
    font-size: 17px;
}

.rc-top-margin-page {
    margin-top: 52px;
}

.ss-navbar-padding{
    padding-top: 2px;
    padding-bottom: 2px;
}

.ss-black-bg-high{
    height:100vh;
    background-color: black;
    /*height: 500px;*/
    opacity: 0.9;
    position: fixed;
    /*background-size: cover;*/
    min-height: 100%;
    /*min-width: 100%;*/
}

.ss-wbdv-button {
    background-color: green;
    font-size: 1.2em;
    color: white;
}

.ss-black-bg {
    background-color: black;
    opacity: 0.9;
}


.ss-whitefont{
    color: white;
}

.ss-no-border{
    border: hidden;
}

.ss-black-navbar{
    background-color: black;
    opacity: 0.8;
}

.ss-white-font{
    color: white;
}


ul.list-group li.selected-page {
    background-color: rgba(255,255,255,0.2);
}

ul.list-group li.selected {
    background-color:red;
}

.rc-link-right-margin {
    margin-right: 9px;
}

a.hover {
    cursor: hand;
}

.hover-hand {
    text-decoration: none;
    cursor: hand;
}

.rc-text-decoration {
    text-decoration: none !important;
}

.ss-background-hotel-search {
    /*background: url('/images/9756566442_416cfc4f0c_k.jpg');*/
    background: url('/images/pexels-photo-27308.jpg');
    background-size: cover;
    opacity: 0.9;
    /*background-position: 100%;*/
    /*background:repeat;*/
    position: absolute;
    /*height: 100vh;*/
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

.ss-hotel-search-results-font {
    font-size: 15px;
    color: white;
}

.ss-font-top-padding{
    padding-top: 3px;
    padding-bottom: 3px;
}

.ss-edit-pencil{
    font-size: 32px;
    /*color: black;*/
}

.ss-white-background{
    /*background-color: white;*/
}

.ss-hotel-modify-button {
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.ss-hotel-name-font-size{
    font-size: 27px;
}

.ss-div-padding{
    padding-bottom: 7px;
    padding-top: 7px;
}

.ss-price-center {
    /*margin-top: 30px;*/
    font-size: 27px;
}

.ss-top-bottom-padding{
    padding-bottom: 4px;
    padding-top: 2px;
}

.ss-collapsible-div-bottom-padding{
    padding-bottom: 5px;
}

.ss-inputarea-top-margin {
    margin-top: 5px;
}

.ss-top-margin-form{
    margin-top: 9px;
}

.ss-no-left-padding{
    padding-left: 0px;
}

.ss-no-right-padding{
    padding-right: 0px;
}

.ss-cross-font-size{
    font-size: 20px !important;
    padding: 5px;
    padding-top: 12px;
    color: orangered;
}

.ss-cross-font-size2{
    font-size: 25px !important;
    padding: 2px;
    padding-right: 5px;
    padding-top: 9px;
}

.ss-black-bg-high-hotelList {
    opacity: 0.8;
}

.ss-btn-font{
    font-size: 16px;
}

.ss-pencil-font-size{
    font-size: 14px !important;
    padding-left: 20px;
}

.ss-font-class1{
    font-size: 16px;
}

.ss-font-class2{
    font-size: 15px;
}


.rc-navbar-style {
    opacity: 1; !important;
    /*position: relative;*/
    z-index: 1000;
}


.rc-sandwitch-margin {
    margin-top: 15px;
    margin-right: 10px;
}

.rc-agent-history-list-opacity {
    opacity: 0.9;
}

.rc-agent-history-list-top-margin {
    margin-top: 10px;
}

.rc-agent-history-list-item-opacity {
    background-color: #0f0f0f;
    opacity: 0.9;
}

.rc-no-agent-notification-message {
    background-color: #0f0f0f;
    opacity: 0.9;
    padding: 20px;
}

.rc-no-message-padding {
    padding: 10px;
}

.ss-black-font{
    color: black;
}

.ss-plus-alignment{
    float: right;
    padding: 5px;
    padding-bottom: 0px;
}

.ss-cross-font-size3{
    font-size: 20px !important;
    color: orangered;
    padding-right: 10px;
}

hr{
    background-color: orangered;
    height: 1px;
    border: 0;
}

.ss-hotel-name-color {
    color: orangered;
}

.rc-background-hotelList {
    background: url("/images/pexels-photo-242698.jpeg");
    background-size: cover;
/*/background-position: 100%;/*/
/*/background:repeat;/*/
position: absolute;
/*/height: 100vh;/*/
top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}
.ss-red-button {
    color: red;
}

.ss-left-padding-hotel-name {
    padding-left: 25px;
}

.ss-box-padding {
    margin-top: 10px;
}