<!--<img src="images/9756566442_416cfc4f0c_k.jpg" height="100%" width="100%">-->
<div class="rc-no-padding ss-background-hotel-search">
    <nav class="nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-xs-12 col-sm-10">
                    <a ng-if="!model.isLoggedIn" class="navbar-brand pull-right" href="#/login">
                        <i class="fa fa-user-circle-o visible-xs" aria-hidden="true"></i>
                        <strong class="wbdv-font-family hidden-xs rc-font-color-black">My Account</strong>
                    </a>
                    <a ng-if="model.isLoggedIn" class="navbar-brand pull-right" ng-click="model.goToHistory()">
                        <i class="fa fa-user-circle-o visible-xs" aria-hidden="true"></i>
                        <strong class="wbdv-font-family hidden-xs rc-font-color-black">My Account</strong>
                    </a>
                    <a ng-if="!model.isLoggedIn" class="navbar-brand pull-right" ng-click="model.goToRegister('USER')">
                        <i class="fa fa-user-plus visible-xs" aria-hidden="true"></i>
                        <strong class="wbdv-font-family hidden-xs rc-font-color-black">Register</strong>
                    </a>

                    <strong class="navbar-brand rc-flight-logo">
                        <i class="fa fa-plane visible-xs" aria-hidden="true"></i>
                    </strong>
                    <a ng-click="model.goToFlightSearch()">
                        <strong class="wbdv-font-family hidden-xs rc-black-banner navbar-brand">
                            Flight Search
                        </strong>
                    </a>
                    <strong class="wbdv-font-family hidden-xs rc-black-banner navbar-brand">
                        Hotel Search
                    </strong>

                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10 rc-black-background">
                <div class="page1">
                    <h1 class="wbdv-font-color-white">Search Hotels</h1>
                    <form name="hotelSearchPage">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="wbdv-font-color-white" for="location">Location (IATA code)</label>
                                <input ng-model="model.hotelBookingReq.location"
                                       class="form-control"
                                       placeholder="IATA Code of desired location"
                                       id="location"
                                       list="locationList"
                                       required>
                                <datalist id="locationList"></datalist>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label class="wbdv-font-color-white" for="checkin">Check in</label>
                                <input ng-model="model.hotelBookingReq.checkinDate"
                                       type="date"
                                       class="form-control"
                                       id="checkin"
                                       required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="wbdv-font-color-white" for="checkout">Check out</label>
                                <input ng-model="model.hotelBookingReq.checkoutDate"
                                       type="date"
                                       class="form-control"
                                       id="checkout"
                                       required>
                            </div>
                        </div>
                        <div id="searchButton" class="form-group">
                            <input type="submit" value="Search" class="btn btn-block wbdv-button"
                                   ng-click="hotelSearchPage.$valid && model.gotoHotelResultsPage(model.hotelBookingReq)">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row page1 ss-photo-margin" ng-if="!model.isLoggedIn">
            <div class="col-xs-2 col-sm-4"></div>

            <div class="col-sm-4 hidden-xs">
                <div class="text-center rc-white-background">
                    <a class="rc-font-color-black" ng-click="model.goToOwnerRegisterPage('HOTELOWNER')">
                        <h3>
                            Become a partner and grow with us!
                        </h3>
                        <div class="rc-partner-image"></div>
                    </a>
                </div>
            </div>

            <div class="col-xs-8 rc-white-background visible-xs">
                <a class="rc-font-color-black text-center" ng-click="model.goToOwnerRegisterPage('HOTELOWNER')">
                    <h4> Become a partner and grow with us!</h4>
                </a>
            </div>

            <div class="col-sm-4 col-xs-2"></div>
        </div>

    </div>

</div>