<!--<img src="images/9756566442_416cfc4f0c_k.jpg" height="100%" width="100%">-->
<div class="rc-background-flight-search">
<!--<div class="rc-background-user-history">-->
<nav class="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <a ng-if="!model.isLoggedIn" class="navbar-brand pull-right" href="#/login">
                    <i class="fa fa-user-circle-o visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-font-color-black">My Account</strong>
                </a>
                <a ng-if="model.isLoggedIn" class="navbar-brand pull-right" ng-click="model.goToHistory()">
                    <i class="fa fa-user-circle-o visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-font-color-black">My Account</strong>
                </a>
                <a ng-if="!model.isLoggedIn" class="navbar-brand pull-right" ng-click="model.goToRegister('USER')">
                    <i class="fa fa-user-plus visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-font-color-black">Register</strong>
                </a>

                    <strong class="navbar-brand rc-flight-logo">
                        <i class="fa fa-plane visible-xs" aria-hidden="true"></i>
                    </strong>
                    <strong class="wbdv-font-family hidden-xs rc-black-banner navbar-brand">
                        Flight Search
                    </strong>
                <a ng-click="model.goToHotelSearch()">
                    <strong class="navbar-brand rc-flight-logo">
                        <i class="fa fa-bed visible-xs" aria-hidden="true"></i>
                    </strong>
                    <strong class="wbdv-font-family hidden-xs rc-black-banner navbar-brand">
                        Hotel Search
                    </strong>
                </a>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10 wbdv-black-shade">
            <div class="page1">
                <div ng-show="model.message" class="alert alert-success text-center ss-box-padding" role="alert">
                    {{model.message}}
                </div>
                <div ng-show="model.error" class="alert alert-danger text-center ss-box-padding" role="alert">
                    {{model.error}}
                </div>
                <h1 class="wbdv-font-color-white">Search Flights</h1>
                <form name="flightSearchPage">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="wbdv-font-color-white" for="from">From</label>
                                <input ng-model="model.flight.source"
                                       type="text"
                                       class="form-control"
                                       id="from"
                                       placeholder="From"
                                       list="cityFrom"
                                required>
                                <span ng-if="flightSearchForm.$error.required[0].$error.required && flightSearchForm.$error.$submitted">
                                    Source required
                                </span>
                                <datalist id="cityFrom"></datalist>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="wbdv-font-color-white" for="to">To</label>
                                <input ng-model="model.flight.destination"
                                       type="text"
                                       class="form-control"
                                       id="to"
                                       placeholder="To"
                                       list="cityTo"
                                required>
                                <datalist id="cityTo"></datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="depart">Depart</label>
                            <input ng-model="model.flight.departDate"
                                   type="date"
                                   class="form-control"
                                   id="depart"
                                   placeholder="Departure Date"
                            required>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="return">Return</label>
                            <input ng-model="model.flight.returnDate"
                                   type="date"
                                   class="form-control"
                                   id="return"
                                   placeholder="Return Date">
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="wbdv-font-color-white" for="adults">Adults</label>
                            <input ng-model="model.flight.noOfAdults"
                                   type="number"
                                   value="1"
                                   min="1"
                                   class="form-control"
                                   id="adults"
                                   placeholder="Number of Adults"
                            required/>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="wbdv-font-color-white" for="child">Children</label>
                            <input ng-model="model.flight.noOfChildren"
                                   type="number"
                                   value="0"
                                   min="0"
                                   class="form-control"
                                   id="child"
                                   placeholder="Number of Children"
                            required/>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="wbdv-font-color-white" for="flightClass">Class</label>
                            <div class="dropdown" id="flightClass">
                                <select class="btn btn-block" name="mySelect" id="mySelect"
                                        ng-options="option.name for option in model.classOptions.availableOptions track by option.id"
                                        ng-model="model.classOptions.selectedOptions"></select>
                                <!--<select class="btn btn-block selectpicker"-->
                                <!--ng-model="model.flight.selectedClass">-->
                                    <!--<option value="ECONOMY" selected="selected">ECONOMY</option>-->
                                    <!--<option value="FIRST">FIRST</option>-->
                                    <!--<option value="BUSINESS">BUSINESS</option>-->
                                <!--</select>-->
                            </div>
                        </div>
                    </div>
                    <div id="searchButton" class="form-group">
                        <input class="btn btn-block wbdv-button"
                               type="submit"
                               ng-click="flightSearchPage.$valid && model.searchFlight(model.flight)"
                               value="Search">
                        <!--<a class="btn btn-block wbdv-button"-->
                           <!--ng-click="model.searchFlight(model.flight)">-->
                            <!--Search-->
                        <!--</a>-->
                    </div>
                    <div ng-if="model.isLoggedIn && model.userType==='USER'" id="setUpAlertButton" class="form-group">
                        <a class="btn btn-block wbdv-button"
                           ng-click="model.setUpAlert(model.flight)">
                            Set Up Alert
                        </a>
                    </div>
                <!--<div class="row wbdv-margin-top">-->
                    <!--<div class="col-sm-12">-->
                        <!--<input type="button"-->
                               <!--class="form-control wbdv-button"-->
                               <!--id="search"-->
                               <!--value="Search">-->
                    <!--</div>-->
                </form>
                </div>
            </div>
        <div class="col-sm-1"></div>
    </div>
    <div ng-if="!model.isLoggedIn" class="row page1">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center rc-font-color-black">
                    <!--<a class="rc-font-color-black">-->
                        <h3>
                            Get the Best Deals from our partners
                        </h3>
                        <div class="rc-deal-image visible-lg visible-md"></div>
                        <!--Designed by freepik.com-->
                    <!--</a>-->
                </div>
            </div>
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center">
                    <a class="rc-font-color-black" ng-click="model.goToRegister('USER')">
                        <h3>
                            Become a member to avail best deals
                        </h3>
                        <div class="rc-member-image visible-lg visible-md"></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 visible-xs rc-white-background">
                <a class="rc-font-color-black text-center" ng-click="model.goToRegister('USER')">
                    <h4 class="rc-font-color-black text-center">
                        Become a member to avail best deals
                    </h4>
                </a>
            </div>
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center">
                    <a class="rc-font-color-black" ng-click="model.goToRegister('AGENT')">
                        <h3 class="hidden-xs">
                            Become a partner and grow with us!
                        </h3>
                        <div class="rc-partner-image visible-lg visible-md"></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 visible-xs rc-white-background">
                <a class="rc-font-color-black text-center" ng-click="model.goToRegister('AGENT')">
                    <h4>
                        Become a partner and grow with us!
                    </h4>
                </a>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

</div>

<!--<script>-->

    <!--// Get the <datalist> and <input> elements.-->
    <!--var dataList = document.getElementById('cityFrom');-->
    <!--var input = document.getElementById('from');-->

    <!--// Create a new XMLHttpRequest.-->
    <!--var request = new XMLHttpRequest();-->

    <!--// Handle state changes for the request.-->
    <!--request.onreadystatechange = function(response) {-->
        <!--if (request.readyState === 4) {-->
            <!--if (request.status === 200) {-->
                <!--// Parse the JSON-->
                <!--var jsonOptions = JSON.parse(request.responseText);-->

                <!--console.log(jsonOptions);-->
                <!--console.log(jsonOptions.response);-->

                <!--var allCities = jsonOptions.response;-->
                <!--for (var cityInfo in allCities) {-->
                    <!--console.log(allCities[cityInfo].code +" Name "+allCities[cityInfo].name);-->
                    <!--var option = document.createElement('option');-->
                    <!--option.value = allCities[cityInfo].name;-->
                    <!--dataList.appendChild(option);-->
                <!--}-->

                <!--// Loop over the JSON array.-->
<!--//                jsonOptions.forEach(function(item) {-->
<!--//                    // Create a new <option> element.-->
<!--//                    var option = document.createElement('option');-->
<!--//                    // Set the value using the item in the JSON array.-->
<!--//                    option.value = item;-->
<!--//                    // Add the <option> element to the <datalist>.-->
<!--//                    dataList.appendChild(option);-->
<!--//                });-->

                <!--// Update the placeholder text.-->
                <!--input.placeholder = "e.g. datalist";-->
            <!--} else {-->
                <!--// An error occured :(-->
                <!--input.placeholder = "Couldn't load datalist options :(";-->
            <!--}-->
        <!--}-->
    <!--};-->

    <!--// Update the placeholder text.-->
    <!--input.placeholder = "Loading options...";-->

    <!--// Set up and make the request.-->
    <!--request.open('GET', 'https://crossorigin.me/https://iatacodes.org/api/v6/cities?api_key=7cf86b00-61f2-47df-a5d0-d56b5bf819bb', true);-->
<!--//    request.open('GET', 'http://cors.io/?u=http://iatacodes.org/api/v6/autocomplete?api_key=7cf86b00-61f2-47df-a5d0-d56b5bf819bb&query=boston', true);-->
    <!--request.send();-->
<!--</script>-->