<!--<img src="images/9756566442_416cfc4f0c_k.jpg" height="100%" width="100%">-->
<div class="rc-background-flight-search">
<nav class="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <a class="navbar-brand pull-right" href="#/login">
                    <i class="fa fa-user-circle-o visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-font-color-black">My Account</strong>
                </a>
                <a class="navbar-brand pull-right" href="#/register">
                    <i class="fa fa-user-plus visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-font-color-black">Register</strong>
                </a>
                <a class="navbar-brand pull-left" href="#/">
                    <i class="fa fa-plane visible-xs" aria-hidden="true"></i>
                    <strong class="wbdv-font-family hidden-xs rc-black-banner">
                        Flight Search
                    </strong>
                </a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10 wbdv-black-shade">
            <div class="page1">
                <h1 class="wbdv-font-color-white">Search Flights</h1>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="wbdv-font-color-white" for="from">From</label>
                                <input type="text"
                                       class="form-control"
                                       id="from"
                                       placeholder="From">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="wbdv-font-color-white" for="to">To</label>
                                <input type="text"
                                       class="form-control"
                                       id="to"
                                       placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="depart">Depart</label>
                            <input type="date"
                                   class="form-control"
                                   id="depart"
                                   placeholder="Departure Date">
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="return">Return</label>
                            <input type="date"
                                   class="form-control"
                                   id="return"
                                   placeholder="Return Date">
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="adults">Adults</label>
                            <input type="number"
                                   class="form-control"
                                   id="adults"
                                   placeholder="Number of Adults">
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="wbdv-font-color-white" for="child">Children</label>
                            <input type="number"
                                   class="form-control"
                                   id="child"
                                   placeholder="Number of Children">
                        </div>
                    </div>
                    <div id="searchButton" class="form-group">
                        <a class="btn btn-block wbdv-button"
                           href="#/profile">
                            Search
                        </a>
                    </div>
                <!--<div class="row wbdv-margin-top">-->
                    <!--<div class="col-sm-12">-->
                        <!--<input type="button"-->
                               <!--class="form-control wbdv-button"-->
                               <!--id="search"-->
                               <!--value="Search">-->
                    <!--</div>-->
                </form>
                </div>
            </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row page1">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center">
                    <a class="rc-font-color-black" href="#">
                        <h3>
                            Get the Best Deals from our partners
                        </h3>
                        <div class="rc-deal-image visible-lg visible-md"></div>
                        <!--Designed by freepik.com-->
                    </a>
                </div>
            </div>
            <div class="col-md-4 visible-xs rc-black-background">
                <a class="wbdv-font-color-white text-center" href="#">
                    <h4>
                        Get the Best Deals from our partners
                    </h4>
                </a>
            </div>
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center">
                    <a class="rc-font-color-black" href="#">
                        <h3>
                            Become a member to avail best deals
                        </h3>
                        <div class="rc-member-image visible-lg visible-md"></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 rc-white-background hidden-xs">
                <div class="text-center">
                    <a class="rc-font-color-black" href="#">
                        <h3 class="hidden-xs">
                            Become a partner and grow with us!
                        </h3>
                        <div class="rc-partner-image visible-lg visible-md"></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 visible-xs rc-black-background">
                <a class="wbdv-font-color-white text-center" href="#">
                    <h4>
                        Become a partner and grow with us!
                    </h4>
                </a>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

</div>