<div class="rc-no-padding rc-background-user-history">
    <nav class="nav ss-black-navbar ss-navbar-padding">
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-sm-1"></div>-->
                <!--<div class="col-xs-12 col-sm-10">-->
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <!--<div class="row">-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--<div class="col-sm-8">-->
                    <div class="dropdown pull-right">
                        <button class="btn dropdown-toggle ss-btn-highlight-off ss-btn-top-margin"
                                type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-align-justify ss-white-font"></span>
                        </button>
                        <ul class="dropdown-menu" style="margin-bottom: 100px">
                            <li><a href="#/">Search Flights</a></li>
                            <li><a href="#/profile">Profile</a></li>
                            <li><a >History</a></li>
                            <li><a href="#/agentNotification">Notifications</a></li>
                            <li><a href="#/">Logout</a></li>
                        </ul>
                    </div>

                    <!--<a class="navbar-brand pull-left" href="#/">-->
                    <strong class="navbar-brand visible-xs rc-agent-notify-font-size
                    wbdv-font-color-white pull-left">
                        Agent History
                    </strong>
                    <strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font hidden-xs">
                        Agent History
                    </strong>
                    <!--<strong class="wbdv-font-family ss-white-font">-->
                    <!--Agent Notification Center-->
                    <!--</strong>-->
                    <!--</a>-->

                    <!--<a class="navbar-brand pull-right" href="#/login">-->
                    <!--<i class="fa fa-user-circle-o visible-xs"-->
                    <!--aria-hidden="true"></i>-->
                    <!--<strong class="wbdv-font-family hidden-xs">-->
                    <!--Login-->
                    <!--</strong>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid ss-top-padding">
        <div class="row ">
            <!--<div class="col-sm-1"></div>-->
            <div class="col-sm-3 ss-whitefont hidden-xs ss-black-bg-high">
                <ul class="list-group list-unstyled  ss-black-bg">
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a href="#/"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-plane"
                               aria-hidden="true"></i>
                            Search Flights
                        </a>
                    </li>
                    <li class="list-group-item ss-black-bg ss-no-border">
                        <a href="#/profile"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-user-circle-o"
                               aria-hidden="true"></i>
                            Profile
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border selected-page">
                        <a class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-history"
                               aria-hidden="true"></i>
                            History
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a href="#/agentNotification"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-exclamation-circle"
                               aria-hidden="true"></i>
                            Notifications
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="container-fluid wbdv-margin-top">
                    <div class="row">
                        <!--<div class="col-sm-1"></div>-->
                        <div style="opacity: 0.9">
                            <!--<ul ng-repeat="website in model.websiteList" class="list-group">-->
                            <!--<li class="list-group-item">-->
                            <!--<a ng-click="model.goToWebsite(website._id)"-->
                            <!--class="no-underline">-->
                            <!--{{website.name}}-->
                            <!--</a>-->
                            <!--<a ng-click="model.goToEditWebsite(website._id)"-->
                            <!--class="pull-right">-->
                            <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <div class="col-md-1 hidden-xs"></div>
                            <div class="page1 col-xs-12 col-md-10">
                                <ul class="list-group" style="margin-top: 10px">
                                    <li class="list-group-item" style="background-color: #0f0f0f; opacity: 0.9">
                                        <div class="row">
                                            <div class="col-sm-1 hidden-xs"></div>
                                            <div class="text-center col-xs-3 col-sm-3 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Username</h4>
                                            </div>
                                            <div class="text-center col-xs-6 col-sm-6 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Message</h4>
                                            </div>
                                            <div class=" text-center col-xs-3 col-sm-1 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Delete</h4>
                                            </div>
                                            <div class="col-sm-1 hidden-xs"></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="background-color: #0f0f0f; opacity: 0.9">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-xs-3 col-sm-3 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Saurin Shah</h4>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Deal for your journey</h4>
                                            </div>
                                            <div class="col-xs-3 col-sm-1 text-center rc-small-top-margin">
                                                <h5>
                                                <a href="#" class="">
                                                    <i class="fa fa-minus-circle fa-2x rc-delete-alert-button"
                                                       aria-hidden="true"></i>
                                                </a>
                                                </h5>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="background-color: #0f0f0f; opacity: 0.9">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-xs-3 col-sm-3 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Saurin Shah</h4>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Deal for your journey</h4>
                                            </div>
                                            <div class="col-xs-3 col-sm-1 text-center rc-small-top-margin">
                                                <h5>
                                                    <a href="#" class="">
                                                        <i class="fa fa-minus-circle fa-2x rc-delete-alert-button"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="background-color: #0f0f0f; opacity: 0.9">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-xs-3 col-sm-3 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Saurin Shah</h4>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Deal for your journey</h4>
                                            </div>
                                            <div class="col-xs-3 col-sm-1 text-center rc-small-top-margin">
                                                <h5>
                                                    <a href="#" class="">
                                                        <i class="fa fa-minus-circle fa-2x rc-delete-alert-button"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-1 hidden-xs"></div>
                        </div>
                        <!--<div class="col-sm-1"></div>-->
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-1"></div>-->
        </div>
    </div>
</div>




<!--<div class="rc-no-padding rc-background-agent-notification">-->
<!--<nav class="nav rc-nav-agent-notification">-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-sm-1"></div>-->
<!--<div class="col-xs-12 col-sm-10">-->
<!--<a class="navbar-brand pull-right" href="#/login">-->
<!--<i class="fa fa-user-circle-o visible-xs wbdv-font-color-white"-->
<!--aria-hidden="true"></i>-->
<!--<strong class="wbdv-font-family wbdv-font-color-white hidden-xs">-->
<!--My Account-->
<!--</strong>-->
<!--</a>-->
<!--&lt;!&ndash;<a class="navbar-brand pull-left" href="">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="pull-left icomoon icon-notification visible-xs"></i>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="glyphicon glyphicon-warning-sign"></span>&ndash;&gt;-->
<!--<strong class="navbar-brand visible-xs rc-agent-notify-font-size-->
<!--wbdv-font-color-white pull-left">-->
<!--Agent Notification Center-->
<!--</strong>-->
<!--<strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font hidden-xs">-->
<!--Agent Notification Center-->
<!--</strong>-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</div>-->
<!--<div class="col-sm-1"></div>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid wbdv-margin-top">-->
<!--<div class="row">-->
<!--<div class="col-sm-1"></div>-->
<!--<div class="col-xs-12 col-sm-10 rc-black-shade-agent-notification">-->
<!--&lt;!&ndash;<ul ng-repeat="website in model.websiteList" class="list-group">&ndash;&gt;-->
<!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a ng-click="model.goToWebsite(website._id)"&ndash;&gt;-->
<!--&lt;!&ndash;class="no-underline">&ndash;&gt;-->
<!--&lt;!&ndash;{{website.name}}&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a ng-click="model.goToEditWebsite(website._id)"&ndash;&gt;-->
<!--&lt;!&ndash;class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="glyphicon glyphicon-cog"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<div class="page1">-->
<!--<ul class="list-group" style="margin-top: 10px">-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Date">-->
<!--</div>-->
<!--<div id="filterMessageButton" class="col-md-4 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-default form-control">-->
<!--Filter-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="username">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="source">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="destination">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--id="date">-->
<!--</div>-->
<!--<div class="col-md-2 rc-small-top-margin">-->
<!--<textarea class="form-control"-->
<!--id="message"-->
<!--rows="2"-->
<!--placeholder="Message To Send"></textarea>-->
<!--</div>-->
<!--<div id="sendMessageButton" class="col-md-2 rc-small-top-margin">-->
<!--<a href="#" class="btn btn-primary form-control">-->
<!--Send-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-1"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->