<div class="rc-no-padding rc-background-user-history">
    <nav class="nav ss-black-navbar ss-navbar-padding rc-navbar-style">
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-sm-1"></div>-->
                <!--<div class="col-xs-12 col-sm-10">-->
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <!--<div class="row">-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--<div class="col-sm-8">-->
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify ss-white-font rc-sandwitch-margin"></span>
                            <!--<span class="caret"></span>-->
                        </a>
                        <ul class="dropdown-menu rc-dropdown-small-font">
                            <li><a ng-click="model.goToFlightSearch()" class="">Search Flights</a></li>
                            <li><a ng-click="model.goToProfile()">Profile</a></li>
                            <li><a ng-click="model.goToAgentNotification()">Notifications</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="model.logout()" class="">Logout</a></li>
                        </ul>
                    </div>

                    <!--<a class="navbar-brand pull-left" href="#/">-->
                    <strong class="navbar-brand visible-xs rc-agent-notify-font-size
                    wbdv-font-color-white pull-left">
                        Agent History
                    </strong>
                    <strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font hidden-xs">
                        Agent History
                    </strong>
                    <!--<strong class="wbdv-font-family ss-white-font">-->
                    <!--Agent Notification Center-->
                    <!--</strong>-->
                    <!--</a>-->

                    <!--<a class="navbar-brand pull-right" href="#/login">-->
                    <!--<i class="fa fa-user-circle-o visible-xs"-->
                    <!--aria-hidden="true"></i>-->
                    <!--<strong class="wbdv-font-family hidden-xs">-->
                    <!--Login-->
                    <!--</strong>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid ss-top-padding">
        <div class="row ">
            <!--<div class="col-sm-1"></div>-->
            <div class="col-sm-3 ss-whitefont hidden-xs ss-black-bg-high">
                <ul class="list-group list-unstyled  ss-black-bg">
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a ng-click="model.goToFlightSearch()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-plane"
                               aria-hidden="true"></i>
                            Search Flights
                        </a>
                    </li>
                    <li class="list-group-item ss-black-bg ss-no-border">
                        <a ng-click="model.goToProfile()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-user-circle-o"
                               aria-hidden="true"></i>
                            Profile
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border selected-page">
                        <a class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-history"
                               aria-hidden="true"></i>
                            History
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a ng-click="model.goToAgentNotification()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-exclamation-circle"
                               aria-hidden="true"></i>
                            Notifications
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-9">
                <div class="container-fluid wbdv-margin-top">
                    <div class="row">
                        <!--<div class="col-sm-1"></div>-->
                        <div class="rc-agent-history-list-opacity">
                            <div class="page1 col-md-12">
                                <ul class="list-group rc-agent-history-list-top-margin">
                                    <li class="list-group-item rc-agent-history-list-item-opacity">
                                        <div ng-if="model.isHistory">
                                            <h4 class="wbdv-font-color-white">
                                                You have not responded to any user alerts.
                                            </h4>
                                        </div>
                                        <div ng-if="!model.isHistory" class="row">
                                            <div class="text-center col-sm-4 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Username</h4>
                                            </div>
                                            <div class="text-center col-sm-6 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Message</h4>
                                            </div>
                                            <div class="text-center col-sm-2 rc-small-top-margin wbdv-font-color-white">
                                                <h4>Delete</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li ng-repeat="historymessage in model.history" class="list-group-item rc-agent-history-list-item-opacity">
                                        <div class="row">
                                            <div class="col-md-4 rc-small-top-margin text-center">
                                                <h4 class="wbdv-font-color-white">{{historymessage.username}}</h4>
                                            </div>
                                            <div class="col-md-6 rc-small-top-margin text-center">
                                                <h4 class="wbdv-font-color-white">
                                                    {{historymessage.message}}
                                                </h4>
                                            </div>
                                            <div class="col-md-2 text-center rc-small-top-margin">
                                                <h5>
                                                    <a ng-click="model.deleteMessageFromHistory(historymessage)" class="">
                                                        <i class="fa fa-minus-circle fa-2x rc-delete-alert-button"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="col-sm-1"></div>-->
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-1"></div>-->
        </div>
    </div>
</div>
