<div class="rc-no-padding rc-background-agent-notification">
<nav class="nav rc-nav-agent-notification">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <a class="navbar-brand pull-right" href="#/login">
                    <i class="fa fa-user-circle-o visible-xs wbdv-font-color-white"
                       aria-hidden="true"></i>
                    <strong class="wbdv-font-family wbdv-font-color-white hidden-xs">
                        My Account
                    </strong>
                </a>
                <!--<a class="navbar-brand pull-left" href="">-->
                <!--<i class="pull-left icomoon icon-notification visible-xs"></i>-->
                <!--<span class="glyphicon glyphicon-warning-sign"></span>-->
                <strong class="navbar-brand visible-xs rc-agent-notify-font-size
                wbdv-font-color-white pull-left">
                    Agent Notification Center
                </strong>
                <strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font hidden-xs">
                    Agent Notification Center
                </strong>
                <!--</a>-->
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</nav>

<div class="container-fluid wbdv-margin-top">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10 rc-black-shade-agent-notification">
        <!--<ul ng-repeat="website in model.websiteList" class="list-group">-->
            <!--<li class="list-group-item">-->
                <!--<a ng-click="model.goToWebsite(website._id)"-->
                   <!--class="no-underline">-->
                    <!--{{website.name}}-->
                <!--</a>-->
                <!--<a ng-click="model.goToEditWebsite(website._id)"-->
                   <!--class="pull-right">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
            <div class="page1">
                <ul class="list-group" style="margin-top: 10px">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Date">
                            </div>
                            <div id="filterMessageButton" class="col-md-4 rc-small-top-margin">
                                <a href="#" class="btn btn-default form-control">
                                    Filter
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="username">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="source">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="destination">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <input type="text"
                                       class="form-control"
                                       id="date">
                            </div>
                            <div class="col-md-2 rc-small-top-margin">
                                <textarea class="form-control"
                                          id="message"
                                          rows="2"
                                          placeholder="Message To Send"></textarea>
                            </div>
                            <div id="sendMessageButton" class="col-md-2 rc-small-top-margin">
                                <a href="#" class="btn btn-primary form-control">
                                    Send
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>