<div class="rc-no-padding rc-background-profile">
<nav class="nav ss-black-navbar ss-navbar-padding rc-navbar-style navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-sm-1"></div>-->
            <!--<div class="col-xs-12 col-sm-10">-->
            <div class="col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-9">
                <!--<div class="dropdown pull-right collapse navbar-collapse">-->
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify ss-white-font"
                        style="margin-top: 15px; margin-right: 10px"></span>
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu rc-dropdown-small-font">
                        <li><a ng-click="model.goToFlightSearch()" class="">Search Flights</a></li>
                        <li><a ng-click="model.goToHistory()" class="">History</a></li>
                        <li><a ng-click="model.goToNotifications()">Notifications</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/" class="">Logout</a></li>
                    </ul>
                </div>
                <strong class="navbar-brand visible-xs rc-agent-notify-font-size
                    wbdv-font-color-white rc-form-font-size pull-left">
                    Profile
                </strong>
                <strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font wbdv-font-color-white hidden-xs">
                    Profile
                </strong>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid rc-top-margin-page">
    <div class="row ">
        <!--<div class="col-sm-1"></div>-->
        <div class="col-sm-3 ss-whitefont hidden-xs ss-black-bg-high">
            <ul class="list-group list-unstyled ss-black-bg">
                <li class="list-group-item  ss-black-bg ss-no-border">
                    <a ng-click="model.goToFlightSearch()"
                       class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                        <i class="rc-link-left-margin rc-link-right-margin fa fa-plane"
                           aria-hidden="true"></i>
                        Search Flights
                    </a>
                </li>
                <li class="list-group-item ss-black-bg ss-no-border selected-page">
                    <a class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                        <i class="rc-link-left-margin rc-link-right-margin fa fa-user-circle-o"
                           aria-hidden="true"></i>
                        Profile
                     </a>
                </li>
                <li class="list-group-item  ss-black-bg ss-no-border">
                    <a ng-click="model.goToHistory()"
                       class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                        <i class="rc-link-left-margin rc-link-right-margin fa fa-bell"
                           aria-hidden="true"></i>
                        History
                    </a>
                </li>
                <li class="list-group-item  ss-black-bg ss-no-border">
                    <a ng-click="model.goToNotifications()"
                       class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                        <i class="rc-link-left-margin rc-link-right-margin fa fa-exclamation-circle"
                           aria-hidden="true"></i>
                        Notifications
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <!--<div class="row">-->
            <!--<div class="col-sm-2"></div>-->
            <!--<div id="loginform" class="col-sm-8 fa-border">-->
            <div id="loginform" style="opacity: 0.9">
                <form>
                    <br>
                    <div class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="username" class="rc-form-font-size">Username</label>
                        <input ng-model="model.user.username"
                               type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username">
                    </div>
                    <div class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="firstName" class="rc-form-font-size">First Name</label>
                        <input ng-model="model.user.firstName"
                               type="text"
                               class="form-control"
                               id="firstName"
                               placeholder="First Name">
                    </div>
                    <div class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="lastName" class="rc-form-font-size">Last Name</label>
                        <input ng-model="model.user.lastName"
                               type="text"
                               class="form-control"
                               id="lastName"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="email" class="rc-form-font-size">Email ID</label>
                        <input ng-model="model.user.email"
                               type="email"
                               class="form-control"
                               id="email"
                               placeholder="Email ID">
                    </div>
                    <div ng-if="model.userType === 'AGENT'" class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="organization">Organization Name</label>
                        <input ng-model="model.user.organization"
                               type="text"
                               class="form-control"
                               id="organization"
                               placeholder="Organization Name">
                    </div>
                    <div class="form-group wbdv-left-right-margin wbdv-font-color-white">
                        <label for="password" class="rc-form-font-size">Password</label>
                        <input ng-model="model.user.password"
                               type="password"
                               class="form-control"
                               id="password"
                               placeholder="Password">
                    </div>
                    <div class="wbdv-left-right-margin">
                        <a class="btn wbdv-button rc-form-font-size btn-block ss-button-margin"
                           ng-click="model.update(model.user)">
                            Update Profile
                        </a>
                        <a class="btn wbdv-button rc-form-font-size btn-block ss-button-margin"
                           href="#/">
                            Logout
                        </a>
                        <a ng-click="model.AreYouSure()"
                           class="btn wbdv-button rc-form-font-size btn-block ss-button-margin">
                            Delete Me
                        </a>
                    </div>
                    <!--<a class="wbdv-left-right-margin pull-right" href="#/login">Already A Member?</a>-->
                </form>
            </div>
            <!--<div class="col-sm-2"></div>-->
            <!--</div>-->
        </div>
        <!--<div class="col-sm-1"></div>-->
    </div>
</div>
</div>