<nav class="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="dropdown pull-right" >
                            <button class="btn dropdown-toggle ss-btn-highlight-off ss-btn-top-margin"
                                    type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Alerts</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li><a href="#/">Logout</a></li>
                            </ul>
                        </div>
                        <a class="navbar-brand pull-left" href="#/">
                            <strong class="wbdv-font-family">
                                Your Profile
                            </strong>
                        </a>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <div class="col-sm-2"></div>
                <div id="loginform" class="col-sm-8 fa-border">
                    <form>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="firstName">First Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="firstName"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="lastName">Last Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="lastName"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="email">Email ID</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email ID">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="password">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password">
                        </div>
                        <div class="wbdv-left-right-margin">
                            <a class="btn btn-success btn-block ss-button-margin"
                               href="#/profile">
                                Update Profile
                            </a>
                        </div>
                        <!--<a class="wbdv-left-right-margin pull-right" href="#/login">Already A Member?</a>-->
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
