<div class="rc-background-register">
<nav class="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <a class="navbar-brand pull-left" href="#/">
                            <strong class="wbdv-font-family wbdv-font-color-white">
                                Continue as Guest
                            </strong>
                        </a>
                        <a class="navbar-brand pull-right" href="#/login">
                            <i class="fa fa-user-circle-o visible-xs wbdv-font-color-white"
                               aria-hidden="true"></i>
                            <strong class="wbdv-font-family hidden-xs wbdv-font-color-white">
                                Login
                            </strong>
                        </a>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</nav>

<div class="container-fluid wbdv-margin-top">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <div class="col-sm-2"></div>
                <div id="loginform" class="col-xs-12 col-sm-8 fa-border rc-black-background wbdv-font-color-white">
                    <form>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="username">Username</label>
                            <input ng-model="model.user.username"
                                   type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="UserName">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="firstName">First Name</label>
                            <input ng-model="model.user.firstName"
                                   type="text"
                                   class="form-control"
                                   id="firstName"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="lastName">Last Name</label>
                            <input ng-model="model.user.lastName"
                                   type="text"
                                   class="form-control"
                                   id="lastName"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="email">Email ID</label>
                            <input ng-model="model.user.email"
                                   type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email ID">
                        </div>
                        <div ng-if="model.userType === 'AGENT'" class="form-group wbdv-left-right-margin">
                            <label for="organization">Organization Name</label>
                            <input ng-model="model.user.organization"
                                   type="text"
                                   class="form-control"
                                   id="organization"
                                   placeholder="Organization Name">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="password">Password</label>
                            <input ng-model="model.user.password"
                                   type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="verifyPassword">Verify Password</label>
                            <input ng-model="model.user.verify.password"
                                   type="password"
                                   class="form-control"
                                   id="verifyPassword"
                                   placeholder="Verify Password">
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="RecoveryQuestion">Recovery Question</label>
                            <div class="dropdown" id="RecoveryQuestion">
                                <select class="btn btn-block rc-font-color-black" id="myQuestion"
                                        ng-options="option.name for option in model.questionOptions.availableQuestions track by option.id"
                                        ng-model="model.questionOptions.passwordRecoveryQuestion"></select>
                            </div>
                        </div>
                        <div class="form-group wbdv-left-right-margin">
                            <label for="RecoveryAnswer">Recovery Answer</label>
                            <input ng-model="model.user.passwordRecoveryAnswer"
                                   type="text"
                                   class="form-control"
                                   id="RecoveryAnswer"
                                   placeholder="Expected answer for your recovery question"
                            required>
                        </div>
                        <div class="wbdv-left-right-margin">
                            <a class="btn btn-primary btn-block ss-button-margin"
                               ng-click="model.registerUser(model.user)">
                                Register
                            </a>
                        </div>
                        <a class="wbdv-left-right-margin pull-right wbdv-font-color-white"
                           href="#/login">Already A Member?</a>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>