<div class="rc-no-padding rc-background-user-history">
    <nav class="nav ss-black-navbar ss-navbar-padding rc-navbar-style navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-sm-1"></div>-->
                <!--<div class="col-xs-12 col-sm-10">-->
                <div class="col-md-3 hidden-xs hidden-sm">
                </div>
                <div class="col-md-9 col-sm-12">
                    <!--<div class="row">-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--<div class="col-sm-8">-->
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify ss-white-font"
                              style="margin-top: 15px; margin-right: 10px"></span>
                            <!--<span class="caret"></span>-->
                        </a>
                        <ul class="dropdown-menu rc-dropdown-small-font">
                            <li><a ng-click="model.goToFlightSearch()" class="">Search Flights</a></li>
                            <li><a ng-click="model.goToProfile()">Profile</a></li>
                            <li><a ng-click="model.goToUserNotification()">Notifications</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="model.logout()" class="">Logout</a></li>
                        </ul>
                    </div>

                    <!--<a class="navbar-brand pull-left" href="#/">-->
                    <strong class="navbar-brand visible-xs rc-agent-notify-font-size
                    wbdv-font-color-white pull-left">
                        User History
                    </strong>
                    <strong class="navbar-brand pull-left wbdv-font-family wbdv-banner-font hidden-xs">
                        User History
                    </strong>
                    <!--<strong class="wbdv-font-family ss-white-font">-->
                    <!--Agent Notification Center-->
                    <!--</strong>-->
                    <!--</a>-->

                    <!--<a class="navbar-brand pull-right" href="#/login">-->
                    <!--<i class="fa fa-user-circle-o visible-xs"-->
                    <!--aria-hidden="true"></i>-->
                    <!--<strong class="wbdv-font-family hidden-xs">-->
                    <!--Login-->
                    <!--</strong>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid rc-top-margin-page">
        <div class="row ">
            <!--<div class="col-sm-1"></div>-->
            <div class="col-md-3 hidden-sm ss-whitefont hidden-xs ss-black-bg-high">
                <ul class="list-group list-unstyled  ss-black-bg">
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a ng-click="model.goToFlightSearch()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-plane"
                               aria-hidden="true"></i>
                            Search Flights
                        </a>
                    </li>
                    <li class="list-group-item ss-black-bg ss-no-border">
                        <a ng-click="model.goToProfile()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-user-circle-o"
                               aria-hidden="true"></i>
                            Profile
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border selected-page">
                        <a class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-history"
                               aria-hidden="true"></i>
                            History
                        </a>
                    </li>
                    <li class="list-group-item  ss-black-bg ss-no-border">
                        <a ng-click="model.goToUserNotification()"
                           class="ss-whitefont wbdv-banner-font rc-link-left-margin rc-text-decoration">
                            <i class="rc-link-left-margin rc-link-right-margin fa fa-exclamation-circle"
                               aria-hidden="true"></i>
                            Notifications
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-md-9">
                <div class="container-fluid wbdv-margin-top">
                    <div class="row">
                        <!--<div class="col-sm-1"></div>-->
                        <div class="col-xs-12 col-sm-12" style="opacity: 0.9">
                            <!--<ul ng-repeat="website in model.websiteList" class="list-group">-->
                            <!--<li class="list-group-item">-->
                            <!--<a ng-click="model.goToWebsite(website._id)"-->
                            <!--class="no-underline">-->
                            <!--{{website.name}}-->
                            <!--</a>-->
                            <!--<a ng-click="model.goToEditWebsite(website._id)"-->
                            <!--class="pull-right">-->
                            <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <div class="col-md-1"></div>
                            <div ng-if="model.isAlerts" class="rc-user-history-list-background"
                            style="padding: 10px">
                                <h4 class="wbdv-font-color-white">
                                    You have not created any alerts &nbsp; !
                                </h4>
                            </div>
                            <div ng-if="!model.isAlerts" class="page1 col-md-10">
                                <ul class="list-group rc-user-history-top-margin">
                                    <li class="list-group-item hidden-xs rc-user-history-list-background">
                                        <div class="row">
                                            <div class="col-sm-3 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Source</h4>
                                            </div>
                                            <div class="col-sm-3 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Destination</h4>
                                            </div>
                                            <div class="col-sm-4 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">Date</h4>
                                            </div>
                                            <div class="col-sm-2">
                                                <h4 class="wbdv-font-color-white text-center">Delete</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li ng-repeat="alert in model.alerts.data" class="list-group-item rc-user-history-list-background">
                                        <div class="row">
                                            <div class="col-sm-3 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">
                                                    {{alert.source}}
                                                </h4>
                                            </div>
                                            <div class="col-sm-3 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">
                                                    {{alert.destination}}
                                                </h4>
                                            </div>
                                            <div ng-if="alert.returnDate" class="col-sm-4 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">
                                                    {{alert.departDate}}
                                                    &nbsp;&nbsp; to &nbsp;&nbsp;
                                                    {{alert.returnDate}}
                                                </h4>
                                            </div>
                                            <div ng-if="!alert.returnDate" class="col-sm-4 text-center rc-small-top-margin">
                                                <h4 class="wbdv-font-color-white">
                                                    {{alert.departDate}}
                                                </h4>
                                            </div>
                                            <div class="col-sm-2 text-center rc-small-top-margin">
                                                <a ng-click="model.deleteAlert(alert)">
                                                    <i class="fa fa-minus-circle fa-2x rc-delete-alert-button"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <!--<div class="col-sm-1"></div>-->
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-1"></div>-->
        </div>
    </div>
</div>